body {
    padding-top: 4rem;
  }
  
  .alert-pre {
    word-wrap: break-word;
    word-break: break-all;
    white-space: pre-wrap;
  }
  
  .external-link {
    padding-top: 6px;
  }
  
  .avatar-link {
    padding-top: 4px;
    padding-bottom: 4px;
  }

#ticker_box {
  float: left;
  margin-left: 50px;
  margin-bottom: 25px;
}

#button_1 {
  float: left;
  margin-left: 20px;
  margin-top: 3px;
  margin-bottom: 25px;
  font-family: "Untitled-Regular", Helvetica neue, Arial, sans-serif;
  border: none;
  background-color: Transparent;
  color:#494949;
}

h1 {
  /*color: navy;
  margin-left: 50px;
  font-size: 2.5rem;
  font-family: Arial,"Apple Color Emoji";*/

  font-size: 45px;
  font-weight: bold;
  font-style: normal;
  font-family: "Untitled-Regular", Helvetica neue, Arial, sans-serif;
  letter-spacing: 0.5px;
  margin-left: 50px;
  margin-bottom: -7px;
}
h2 {
  /*color: navy;
  margin-left: 50px;
  font-size: 2.5rem;
  font-family: Arial,"Apple Color Emoji";*/

  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-family: "Untitled-Regular", Helvetica neue, Arial, sans-serif;
  letter-spacing: 0.5px;
  margin-left: 50px;
  color:#545454;
}